extends layout

block content
 .jumbotron
   .container
     h1 #{title}
     p
       | Looking for laptop repair Singapore? We are the right destination. We carry with us important tools and parts with us to ensure quality and timely repairs. We have parts like hard disk, SSD, RAM, power supply and casing at very affordable prices. Network equipments like routers, extenders and repeaters are available as well for home or offices.
     p
       a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
 .container
   .row
     .col-md-4
       h2 Network Setup
       p
         | Do you often have computer network issues, such as limited or no connectivity, poor signal in corners of the house, broken wireless signal, port forwarding problems, have problem hosting games, wireless home network problems, unsecured wireless network, unable to share files on network?
       p
         a.btn.btn-default(href='#', role='button') View details »
     .col-md-4
       h2 Virus Removal
       p
         | Did the performance of your computer desktop or laptop slow down for no reason? Need help for computer virus removal? Or did an "anti virus" program pop up when windows is started and it informed you that your Pc had several virus and you have to pay to remove the spyware and virus?
       p
         a.btn.btn-default(href='#', role='button') View details »
     .col-md-4
       h2 Data Recovery
       p
         | We will help to recover your data from your hard disk. Our hard disk data recovery services includes assisting you to recover your precious data and lost files from virus attacks, system crashes, accidental deletion, reformatting and even damaged partition tables.
       p
         a.btn.btn-default(href='#', role='button') View details »
